---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Class manipulation">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>
    </TopicPageNavbar>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Klassemanipulation"/>

                <DescriptionCardText>
                    Class manipulation is all about adding or removing <span class="class">classes</span> from an <span class="element">element</span>. Example given, when you open a mobile menu by pressing the three lines, a <span class="class">class</span> is being added that controls the display of the menu. The most important <span class="method">methods</span> for class manipulation are <span class="method">.add<span class="parentheses">()</span></span>, <span class="method">.remove<span class="parentheses">()</span></span>, and <span class="method">.toggle<span class="parentheses">()</span></span>. Examples on these methods can be found <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/GRbpZeg" linkText="here." target="_blank"/>
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    Da disse metoder er som <span class="event-type">eventlisters</span>, er syntaksen den samme.
                    Først kommer <span class="name">variabelnavnet</span> efterfulgt af <span class="property">.classList</span>. Derefter et punktum og det <span class="method">metodenavn</span>, du ønsker at bruge.
                    Indeni <span class="parentheses">parenteserne</span> skrives et sæt <span class="quote">citationstegn</span> med navnet på den <span class="class">klasse</span>, der skal manipuleres med.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="name">variabelNavn</span><span class="method">.metodeNavn
                            <span class="parentheses">(</span><span class="quote">'</span><span class="event-type">klassenavn</span><span class="quote">'</span><span class="parentheses">)</span></span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>
