---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'

---

<Layout title="JS Cheat Sheet | Console">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>    </TopicPageNavbar>    
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <DescriptionCardHeader headerText="Konsollen" />

            <DescriptionCardText>
                Konsollen bruges til at finde fejl i koden ved at vise fejlmeddelelser og logge kode. Den åbnes i browseren ved at højreklikke og vælge "Inspicér" eller "Undersøg".
            </DescriptionCardText>

            
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader headerText="Syntaks" />

            <DescriptionCardText>
                I konsollen skrives almindelig JavaScript med almindelig JavaScript-syntaks.

                For at logge til konsollen skrives <span class="object">console</span> efterfulgt af <span class="method">.log</span><span class="parentheses">()</span>

                Inde i parenteserne skrives det, man vil logge.
                Er det tekst, skal der <span class="quote">citationstegn</span> omkring. Er det kode, skriver man det bare direkte i <span class="parentheses">parenteserne</span>.

                Se mere i eksemplet
                <DownloadButton
                    href="/zips/console-eksempel.zip"
                    class="btn zip-file-download-btn"
                    id="zip_file_download_btn"
                    download="console-eksempel"
                >
                her.
            </DownloadButton>
            </DescriptionCardText>
        </DescriptionCard>
    </div>
</Layout>