---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'

---

<Layout title="JS Cheat Sheet | Console">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>    </TopicPageNavbar>    
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <DescriptionCardHeader headerText="Console" />

            <DescriptionCardText>
                The console is being used to find bugs in the <span class="code">code</span> and to log <span class="code">code</span>. The console is opened in the browser by right-clicking and choose "Inspect".     
            </DescriptionCardText>

            
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader headerText="Syntax" />

                <DescriptionCardText>
                    Regular JavaScript with standard syntax is being written in the console.
                    To log to the console, you write <span class="object">console</span> followed by <span class="method">.log</span><span class="parentheses">()</span>.

                    Inside the parentheses, you write, what you wish to log. Is it text, you need to wrap it in <span class="quote">quotes</span>. Is is <span class="code">code</span>, you simply just write it directly inside the <span class="parentheses">parentheses</span>.

                    For more in-depth, check out the example
                    <DownloadButton
                        href="/zips/console-eksempel.zip"
                        class="btn zip-file-download-btn"
                        id="zip_file_download_btn"
                        download="console-eksempel"
                    >
                    her.
                </DownloadButton>
            </DescriptionCardText>
        </DescriptionCard>
    </div>
</Layout>