---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'

---

<Layout title="JS Cheat Sheet | Events">
    <TopicPageNavbar />
    <div class="container desc-container">
       <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Eventlisteners" />

                <DescriptionCardText>
                    An <span class="event-type">eventlistener</span> is listening to the events of the browser such as clicks, inputs, and button presses, and they're being used in JavaScript to perform certain actions, when the event is being triggered.
                    <span class="event-type">Eventlisteners</span> are commonly added to the <span class="name">variable</span>. Look at the examples <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/OJeQRGb" linkText="here." target="_blank" />
            </div>
       </DescriptionCard>

       <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />
                <DescriptionCardText>
                    <span class="event-type">Eventlisteners</span> are being added to an <span class="element">element</span> by using JavaScript's built-in method <span class="method">.addEventListener</span><span class="parentheses">()</span>. You write the <span class="name">name of the variable</span> followed by <span class="method">.addEventListener<span class="parentheses">()</span></span>. Within the <span class="parentheses">parentheses</span>, you write a pair of <span class="quote">quotes</span> containing the <span class="event-type">event type</span>. This is being followed by a comma and then the <span class="name">name</span> of the <span class="keyword">function</span> to be called, when the <span class="event">event</span> is being triggered.
                </DescriptionCardText>
            </div>
            <CodePreviewCard>
                <h3>
                    <pre>
                       <span class="name">variabelNavn</span><span class="method">.addEventListener
                        <span class="parentheses">(</span><span class="quote">'</span><span class="event-type">eventtype</span><span class="quote">'</span>, <span class="name">functionName</span><span class="parentheses">)</span></span> 
                    </pre>
                </h3>
            </CodePreviewCard>
       </DescriptionCard>
    </div>
</Layout>

