---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'

---

<Layout title="JS Cheat Sheet | Events">
    <TopicPageNavbar />
    <div class="container desc-container">
       <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Eventlisteners" />

                <DescriptionCardText>
                    En <span class="event-type">eventlistener</span> lytter til browserens <span class="event-type">events</span> som klik, tastetryk og input og bruges i JavaScript til at udføre specifikke handlinger, når et event udløses. Eventlisteners tilføjes som regel til en <span class="name">variabel</span>. Se eksempler
                    
            </div>
       </DescriptionCard>

       <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />
                <DescriptionCardText>
                    Eventlisteners tilføjes til et element ved brug af JavaScripts indbyggede funktion <span class="method">.addEventListener<span class="parentheses">(</span><span class="parentheses">)</span></span>.
                    Man skriver <span class="name">variabelnavnet</span> efterfulgt af <span class="method">.addEventListener<span class="parentheses">(</span><span class="parentheses">)</span></span>.
                    Inde i parenteserne skrives et sæt <span class="quote">citationstegn</span> med <span class="event-type">eventtypen</span>.
                    Herefter følger et komma og <span class="name">navnet</span> på den <span class="name">funktion</span>, som skal kaldes ved <span class="event-type">eventet</span>.
                </DescriptionCardText>
            </div>
            <CodePreviewCard>
                <h3>
                    <pre>
                       <span class="name">variabelNavn</span><span class="method">.addEventListener
                        <span class="parentheses">(</span><span class="quote">'</span><span class="event-type">eventtype</span><span class="quote">'</span>, <span class="name">funktionsNavn</span><span class="parentheses">)</span></span> 
                    </pre>
                </h3>
            </CodePreviewCard>
       </DescriptionCard>
    </div>
</Layout>

