---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Functions">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="../../first_semester" buttonText="Til oversigt"/>
    </TopicPageNavbar>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="what">
                <DescriptionCardHeader class="what-header" headerText="Hvad er en funktion?" />
                <DescriptionCardText>
                   
                    En funktion er en måde at skrive sin kode på, så man kan genanvende det i stedet for at skrive de samme linjer kode alle steder, hvor den samme ting skal udføres. En funktion gør det også meget lettere at overskue sin kode.
                    Et eksempel kan findes 
                    
                    <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/XWLbedz" linkText="her." target="_blank">
                </DescriptionCardText>
            </div>
        </DescriptionCard>        
      
        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader class="syntax-header" headerText="Syntaks"/>
            <DescriptionCardText>
                En <span class="keyword">funktion</span> begynder med ordet <span class="keyword">function</span>, efterfulgt af et selvvalgt <span class="name">funktionsnavn</span>, <span class="parentheses">parenteser</span> og derefter <span class="curly-brackets">tuborgparenteser</span> med <span class="code">koden</span> indeni. <span class="keyword">Funktionen</span> udfører først noget, når den bliver kaldt, som vist i eksemplet.            </DescriptionCardText>
           
                <CodePreviewCard>
                    <h3>
                        <pre>
                            <span class="keyword">function</span> <span class="name">myFunction</span><span class="parentheses">()</span> <span class="curly-brackets">&#123;</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code preview-card-code">// Kode her</span>
                            <span class="curly-brackets">&#125;</span>
                        </pre>
                    </h3>
                </CodePreviewCard>
            
        </DescriptionCard>
    </div>
</Layout>

