---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Functions">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>
    </TopicPageNavbar>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="what">
                <DescriptionCardHeader class="what-header" headerText="What is a function?" />
                <DescriptionCardText>
                    
                    A function is a way of writing code in a way, so it the same code can be reused in stead of having to write the same code over and over. A function also make the code much more managable. An example on functions can be found <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/XWLbedz" linkText="here." target="_blank">
                </DescriptionCardText>
            </div>
        </DescriptionCard>        
      
        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader class="syntax-header" headerText="Syntaks"/>
            <DescriptionCardText>
                A <span class="keyword">function</span> starts with the word <span class="keyword">function</span> followed by a <span class="name">function name</span> of your own choice. Then comes a pair of <span class="parentheses">parentheses</span> followed by some <span class="curly-brackets">curly brackets</span> with <span class="code">the code</span> inside of it. The <span class="keyword">function</span> first runs <span class="code">the code</span> upon calling it.
            </DescriptionCardText>
           
                <CodePreviewCard>
                    <h3>
                        <pre>
                            <span class="keyword">function</span> <span class="name">myFunction</span><span class="parentheses">()</span> <span class="curly-brackets">&#123;</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code preview-card-code">// Code here</span>
                            <span class="curly-brackets">&#125;</span>
                        </pre>
                    </h3>
                </CodePreviewCard>
            
        </DescriptionCard>
    </div>
</Layout>

