---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Comparison operators">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>    </TopicPageNavbar>
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader headerText="Operators" />

                <DescriptionCardText>
                    Operators are used to determine a value based on two or more numbers. In programming, they are almost always used together with if statements to check, if something is true.
                    
               
                    
                    <CodePreviewCard>
                        <h4>Frequently used operators:</h4>
                        <ul>
                            <li>
                                <span class="operand">&&</span> (and)
                            </li>
                            <li>
                                <span class="operand">||</span> (or)
                            </li>
                            <li>
                                <span class="operand">&gt;</span> (greater than)
                            </li>
                            <li>
                                <span class="operand">&lt;</span> (lesser than)
                            </li>
                            <li>
                                <span class="operand">&lt;&equals;</span> (lesser than or equal to)
                            </li>
                            <li>
                                <span class="operand">&gt;&equals;</span> (greater than or equal to)
                            </li>
                            <li>
                                <span class="operand">&equals;</span> (equals)
                            </li>
                            <li>
                                <span class="operand">&equals;&equals;</span> (equals same value)
                            </li>
                        </ul>
                    </CodePreviewCard>
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader headerText="Syntax" />

                <DescriptionCardText>
                    There isn't really a syntax for the operators alone, since these are just symbols that perform an action. It makes most sense to show each in combination with an if sentence. Examples on these can be found <DescriptionCardExampleLink linkText="here." href="https://codepen.io/Schweitz/pen/NWZydaZ" target="_blank" />                    
                </DescriptionCardText>
            </div>
        </DescriptionCard>
    </div>
</Layout>

<style>
    ul
    {
        width: 100%;
        white-space: nowrap;
    }

    li
    {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    h4
    {
        color: #fff;
    }
</style>