---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Tilfældighed">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>    </TopicPageNavbar>    
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Tilfældighed" />

                <DescriptionCardText>
                    Tilfældighed bruges i mange tilfælde. I bruger det i forbindelse med jeres spil, men det er blot en af uendeligt mange muligheder.
                    Det bruges, når man vil lade computeren overtage styringen for en bestemt handling, og man vil typisk have, at noget sker baseret på det udfald,
                    som computeren tilfældigt har genereret.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    For at generere et tilfældigt tal i JavaScript bruges <span class="object">Math</span><span class="method">.random<span class="parentheses">(</span><span class="parentheses">)</span></span>. Denne <span class="method">metode</span> genererer et decimaltal mellem 0 og 1 (0 <b><em>inkluderet</em></b> og 1 <b><em>ekskluderet</em></b>).

                    For at generere et tal mellem 1 og en maksimumværdi, ganger du resultatet af <span class="object">Math</span><span class="method">.random<span class="parentheses">(</span><span class="parentheses">)</span></span> med din maksimumværdi. Dette vil dog give et decimaltal mellem 0 og maksimumværdien. Se løsningen på dette og andet <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/GRbpNbJ" linkText="her." target="_blank" />

                </DescriptionCardText>
            </div>
        </DescriptionCard>
    </div>
</Layout>