---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Selectors">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>
    </TopicPageNavbar> 

    <div class="container desc-container selectors-desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="What is a selector?" />

                <DescriptionCardText>
                    A selector is used to select a specific <span class="element">element</span> in the HTML. The three primary selectors are <span class="class">class</span>, <span class="id">id</span>, and the <span class="element">element</span> itself. You can see examples on the most frequent JavaScript <span class="method">methods</span> to select elements the aforementioned selectors and the difference between them <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/mdZXrae" linkText="here." target="_blank" />
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />
                <DescriptionCardText>
                    The syntax to target the elements in CSS is fairly straightforward:
                    <br />
                    <br />
                    <ul>
                        <li>
                            A <span class="class">class</span> is being targeted with a <span class="class">period</span> followed by the name of the <span class="class">class</span>.
                        </li>
                        <li>
                            An <span class="id">id</span> is being targeted with a <span class="id">hashtag</span> followed by the name of the <span class="id">id</span>.
                        </li>
                        <li>
                            An <span class="element">element</span> is being targeted by writing the name of the <span class="element">element</span> without anything in front of it. 
                        </li>
                    </ul>
                </DescriptionCardText>
            </div>

      
                <CodePreviewCard>
                    <h3>
                        <pre>
                            <span class="class">Class: .class-name</span>
                            <span class="id">Id: #id_navn</span>
                            <span class="element">Element: elementnavn</span>
                        </pre>
                    </h3>
                </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>


<style>
    ul
    {
        margin-left: 30px;
    }
    li
    {
        list-style: outside;
    }

    li:not(:first-child)
    {
        margin-top: 5px;
    }
</style>