---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Sound">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>    </TopicPageNavbar> 
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <DescriptionCardHeader headerText="Lyd" />

                <DescriptionCardText>
                        Der er rigtigt mange ting, man  kan ændre på, når det kommer til lyd, men dem, som man bruger på 1. semester, er følgende:
                        <span class="method">.play</span><span class="parentheses">(</span><span class="parentheses">)</span>, <span class="method">.pause</span><span class="parentheses">(</span><span class="parentheses">)</span>, <span class="property">.muted</span>, <span class="property">.volume</span>, <span class="property">.duration</span> og <span class="property">.currentTime</span>. 
                        Download et eksempel med dem alle
                        
                        <DownloadButton
                            href="/zips/lyd-eksempel.zip"
                            class="btn zip-file-download-btn"
                            id="zip_file_download_btn"
                            download="lyd-eksempel"
                        >
                        her.
                     </DownloadButton>
            </DescriptionCardText>

            <CodePreviewCard>
                <ul>
                    <li>
                        <span>Afspil lyd:</span>
                        <span><span class="method">.play</span><span class="parentheses">()</span></span>
                    </li>
                    <li>
                        <span>Paus lyd:</span>
                        <span><span class="method">.pause</span><span class="parentheses">()</span></span>
                    </li>
                    <li>
                        <span>Mute lyd:</span>
                        <span><span class="property">.muted</span></span>
                    </li>
                    <li>
                        <span>Volumen:</span>
                        <span><span class="property">.volume</span></span>
                    </li>
                    <li>
                        <span>Lydens længde:</span>
                        <span><span class="property">.duration</span></span>
                    </li>
                    <li>
                        <span>Tid i lydfilen:</span>
                        <span><span class="property">.currentTime</span></span>
                    </li>
                </ul>
            </CodePreviewCard>
        </DescriptionCard>

        <DescriptionCard>
            <div class="card syntax-card">
                <DescriptionCardHeader headerText="Syntaks" />
                
                <DescriptionCardText>
                    For at kunne bruge nogle af de ting, der er, når det kommer til lyd, skal man først have sit <span class="element">audio</span>-element hentet ind i sin JavaScript som en <span class="name">variabel</span>.
                    Derefter kan man så begynde at bruge nogle af de ting, der er, når det kommer til at arbejde med lyd.
                </DescriptionCardText>
            </div>

          
        </DescriptionCard>
    </div>
</Layout>


<style>

    ul li
    {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        white-space: nowrap;
    }
    
    .hide
    {
        display: none;
    }

    @media screen and (min-width: 768px)
    {
        .hide
        {
            display: block;
        }
    }
</style>