---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Sound">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>    </TopicPageNavbar> 
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <DescriptionCardHeader headerText="Sound" />

                <DescriptionCardText>
                        There is a lot of things to change, when it comes to sound, but those used during 1<small>st</small> semester, are the following:
                        <span class="method">.play</span><span class="parentheses">(</span><span class="parentheses">)</span>, <span class="method">.pause</span><span class="parentheses">(</span><span class="parentheses">)</span>, <span class="property">.muted</span>, <span class="property">.volume</span>, <span class="property">.duration</span> og <span class="property">.currentTime</span>. 
                        Download an example with them all
                        <DownloadButton
                            href="/zips/lyd-eksempel.zip"
                            class="btn zip-file-download-btn"
                            id="zip_file_download_btn"
                            download="lyd-eksempel"
                          >
                          here.
                        </DownloadButton>
                </DescriptionCardText>

            <CodePreviewCard>
                <ul>
                    <li>
                        <span>Play sound:</span>
                        <span><span class="method">.play</span><span class="parentheses">()</span></span>
                    </li>
                    <li>
                        <span>Pause sound:</span>
                        <span><span class="method">.pause</span><span class="parentheses">()</span></span>
                    </li>
                    <li>
                        <span>Mute sound:</span>
                        <span><span class="property">.muted</span></span>
                    </li>
                    <li>
                        <span>Volume:</span>
                        <span><span class="property">.volume</span></span>
                    </li>
                    <li>
                        <span>Sound length:</span>
                        <span><span class="property">.duration</span></span>
                    </li>
                    <li>
                        <span>Time in sound file:</span>
                        <span><span class="property">.currentTime</span></span>
                    </li>
                </ul>
            </CodePreviewCard>
        </DescriptionCard>

        <DescriptionCard>
            <div class="card syntax-card">
                <DescriptionCardHeader headerText="Syntax" />
                
                <DescriptionCardText>
                    To be able to use some of the stuff available, when it comes to sound, you first need your <span class="element">audio</span> element brought into the JavaScript as a <span class="name">variable</span>.
                    Thereafter, you can being to use some of the stuff available, when it comes to dealing with sound.
                </DescriptionCardText>
            </div>

          
        </DescriptionCard>
    </div>
</Layout>


<style>

    ul li
    {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        white-space: nowrap;
    }
    
    .hide
    {
        display: none;
    }

    @media screen and (min-width: 768px)
    {
        .hide
        {
            display: block;
        }
    }
</style>