---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Timers">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>
    </TopicPageNavbar> 
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Timer functions" />

                <DescriptionCardText>
                    Timers are used to run code after a delay or at regular intervals. The most common <span class="method">methods</span> are <span class="method">.setTimeout</span> and <span class="method">.setInterval</span>. <span class="method">.setTimeout</span> runs <span class="code">code</span> once after a certain time, while <span class="method">.setInterval</span> keeps running the <span class="code">code</span> at set intervals.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    The syntax for writing <span class="method">.setTimeout</span> and <span class="method">.setInterval</span> is identical. 

                    First, you write the <span class="name">name</span> of the <span class="keyword">function</span> (<span class="method">setInterval</span> or <span class="method">setTimeout</span>). Thereafter comes a pair of <span class="parentheses">parentheses</span>, within which you write <span class="keyword">function</span> followed by a pair of <span class="parentheses">parentheses</span> and <span class="curly-brackets">curly brackets</span>, inside which the <span class="code">code</span> to be run is. See the examples <DescriptionCardExampleLink linkText="here." href="https://codepen.io/Schweitz/pen/ExBQNVJ" target="_blank" />
                </DescriptionCardText>
            </div>
            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="method">setTimeout</span><span class="parentheses">(</span><span class="keyword">function</span><span class="parentheses">()</span> <span class="curly-brackets">&#123;</span>
                        &nbsp;&nbsp;<span class="code">// Code here</span>
                        <span class="curly-brackets">&#125;</span>, interval<span class="parentheses">)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    
    </div>
</Layout>

<style>
    pre
    {
        display: block;
    }

    pre:not(:last-child)
    {
        margin-bottom: 15px;
    }

    .container.desc-container
    {
        height: auto;
    }
    @media screen and (max-width: 1500px)
    {
        .container.desc-container
        {
            /* height: 400px; */
            overflow-x: scroll;
        }
    }
</style>