---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Timers">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="../../first_semester" buttonText="Til oversigt"/>
    </TopicPageNavbar> 
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Timerfunktioner" />

                <DescriptionCardText>
                    Timerfunktioner kan bruges til at få noget til at ske efter et vist stykke tid eller med bestemte intervaller.
                    De mest brugte er <span class="method">setTimeout</span> og <span class="method">setInterval</span>.
                    <span class="method">setTimeout</span> bruges til at køre noget kode efter et bestemt stykke tid er gået, mens <span class="method">setInterval</span> kører et stykke kode
                    <br/>
                    om og om igen efter det angivne interval.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    Syntaksen er en smule underlig, og for nu er det nok at vide, hvordan de er opbygget.
                    Heldigvis er syntaksen for både <span class="method">setTimeout</span> og <span class="method">setInterval</span> den nøjagtigt samme, så der er ikke noget svært der.

                    <span class="method">setTimeout</span> starter med, at man skriver funktionens navn, nemlig <span class="method">setTimeout</span>.
                    Herefter følger et sæt <span class="parentheses">parenteser</span>, og inde i disse skriver man <span class="keyword">function</span>, som efterfølges af et nyt sæt <span class="parentheses">parenteser</span>. Herefter kommer et sæt <span class="curly-brackets">tuborgparenteser</span>. Inde i disse står den kode, der skal køres (oftest et funktionskald). Mellem den afsluttende <span class="curly-brackets">tuborgklamme</span> og den afsluttende <span class="parentheses">parentes</span> er et komma efterfulgt af det tal i millisekunder, der indikerer, ved hvilket interval funktionen skal køres.
                    Eksempler på, hvordan de kører samt deres syntaks kan ses <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/LYKpZyP" linkText="her." target="_blank"/>

                </DescriptionCardText>
            </div>
        </DescriptionCard>
    </div>
</Layout>