---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Timers">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Til oversigt"/>    </TopicPageNavbar> 
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Timerfunktioner" />

                <DescriptionCardText>
                    Timers bruges til at køre kode efter et bestemt tidsrum eller med faste intervaller. De mest anvendte <span class="method">metoder</span> er <span class="method">setTimeout</span> og <span class="method">setInterval</span>.
                    <span class="method">setTimeout</span> kører kode efter et bestemt tidsrum, mens <span class="method">setInterval</span> kører kode, hver gang det givne interval er gået.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    Syntaksen for <span class="method">setTimeout</span> og <span class="method">setInterval</span> er ens.

                    Først skrives <span class="name">funktionsnavnet</span> (<span class="method">setInterval</span> eller <span class="method">setTimeout</span>). Dernæst kommer et sæt <span class="parentheses">parenteser</span>, inde i hvilke man skriver <span class="keyword">function</span> efterfulgt af et sæt <span class="parentheses">parenteser</span> og <span class="curly-brackets">tuborgparenteser</span>, inde i hvilke <span class="code">koden</span>, der skal køres, står. Se eksempler <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/LYKpZyP" linkText="her." target="_blank"/>
                </DescriptionCardText>
            </div>
            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="method">setTimeout</span><span class="parentheses">(</span><span class="keyword">function</span><span class="parentheses">()</span> <span class="curly-brackets">&#123;</span>
                        &nbsp;&nbsp;<span class="code">// Kode her</span>
                        <span class="curly-brackets">&#125;</span>, interval<span class="parentheses">)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    
    </div>
</Layout>

<style>
    pre
    {
        display: block;
    }

    pre:not(:last-child)
    {
        margin-bottom: 15px;
    }

    .container.desc-container
    {
        height: 80dvh;
    }
    @media screen and (max-width: 1500px)
    {
        .container.desc-container
        {
            height: 400px;
            overflow-x: scroll;
        }
    }
</style>