---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Variables &amp; Constants">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="../../first_semester" buttonText="Back to overview"/>
    </TopicPageNavbar>
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="What is a variable?" />

                <DescriptionCardText>
                    A variable is a reference to a value.
                    <br />
                    <br />
                    There are three primary variable types:
                    <span class="keyword"><em>var</em></span>,
                    <span class="keyword"><em>let</em></span>, and
                    <span class="keyword"><em>const</em></span>.

                    The value of a <span class="keyword">const</span> variable cannot be overridden,
                    meaning that once it's been declared, <em>its value persists</em>.

                    The value of a <span class="keyword">let</span> or <span class="keyword">var</span> variable can be overridden. Read the in-depth explanation and examples on the use of the different variable types <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/VwJLEvE" linkText="here." target="_blank" />
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader class="syntax-header" headerText="Syntax" /> 

            <DescriptionCardText>
                Firstly, you write the variable type followed by the <span class="name">variable name</span>. Thereafter follows an <span class="equal">equal sign</span>. Lastly, after the <span class="equal">equals sign</span>, the <span class="value">value</span> of the <span class="keyword">variable</span> comes. That's the syntax no matter the variable type.
            </DescriptionCardText>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">var</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">value</span>
                        <span class="keyword">let</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">value</span>
                        <span class="keyword">const</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">value</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>