---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
import TopicPageNavbar from '../../../components/TopicPageNavbar.astro'
---

<Layout title="JS Cheat Sheet | Variables &amp; Constants">
    <TopicPageNavbar>
        <h1 class="logo">
            <span>JS</span> Cheat Sheet
        </h1>
        <BackButton className="back-button" id="back_button" href="../../first_semester" buttonText="Til oversigt"/>
    </TopicPageNavbar>
    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Hvad er variabel?" />

                <DescriptionCardText>
                    En variabel er en reference til en værdi.
                    <br/>
                    <br/>
                    Der er tre primære variabeltyper -
                    <span class="keyword"><em>var</em></span>,
                    <span class="keyword"><em>let</em></span> og
                    <span class="keyword"><em>const</em></span>.
                    
                    En <span class="keyword"><em>const</em></span>-variabels værdi kan <em>ikke</em> overskrives, hvilket vil sige, at når den har fået en værdi, har den denne værdi <em>altid</em>.
                    En <span class="keyword"><em>let</em></span>- eller <span class="keyword"><em>var</em></span>-variabels værdi kan overskrives. Se uddybende forklaring og eksempler på brugen af de forskellige variable <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/VwJLEvE" linkText="her." target="_blank">

                    <br />
                    <br />
                    Det anbefales dog altid, at man anvender <span class="keyword"><em>let</em></span> til variable, hvis værdier på et senere tidspunkt skal overskrives.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <DescriptionCardHeader class="syntax-header" headerText="Syntaks" /> 

            <DescriptionCardText>
                Først angives <span class="name">variabeltypen</span> <span class="keyword"><em>const</em></span>, <span class="keyword"><em>let</em></span> eller <span class="keyword">var</span> efterfulgt af <span class="name">variabelnavnet</span>. Derefter sættes et <span class="equal">lighedstegn</span>, og så angives variablens <span class="value">værdi</span>. Dette er syntaksen, uanset hvilken variabeltype du bruger.            </DescriptionCardText>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">var</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">værdi</span>
                        <span class="keyword">let</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">værdi</span>
                        <span class="keyword">const</span> <span class="name">myVariable</span> <span class="equal">=</span> <span class="value">værdi</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>