---
const { className, id, href, buttonText } = Astro.props
---

<a class={className} id={id} href={href}>
    {buttonText}
</a>

<style>
    a
    {
        font-family: 'Noto Sans', sans-serif;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 17px;
        color: var(--nav-links-color);
        transition: .15s ease-in;
    }

    a::before
    {
        content: '';
        position: absolute;
        bottom: -2px;
        height: 2px;
        width: 0;
        background-color: #ff0;
        transition: width .2s ease-in;
    }

    a:hover::before
    {
        width: 100%;
        transition: width .2s ease-in;
    }
</style>