---
const {className, id, buttonText, iconClass} = Astro.props
---

<button class={className} id={id}>
    <slot/>
</button>


<style>
    button
    {
        display: inline-block;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 30px;
        background-color: var(--btn-background-color);
        padding: 10px 15px;
        border-radius: calc(var(--base-border-radius) * 50);
        text-transform: uppercase;
        width: fit-content;
        font-size: 20px;
        cursor: pointer;
        box-shadow: var(--box-shadow);
        transition: opacity .15s ease-in;
    }

    button i
    {
        margin-left: 50px;
    }

    button:hover
    {
        opacity: .9;
        transition: opacity .15s ease-in;
    }

    button:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }
</style>