---
const {className, id, buttonText} = Astro.props 
---

<button class={className} id={id}>
    <slot/>
</button>

<style>
    button
    {
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin-top: 35px;
        width: 100%;
        padding: 10px 25px;
        border-radius: calc(var(--base-border-radius) * 5);
        background-color: var(--btn-background-color);
        font-size: 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: opacity .15s ease-in;
    }

    button:hover
    {
        opacity: .95;
        transition: opacity .15s ease-in;
    }

    button:active
    {
        transform: scale(.98);
        transition: none;
    }
</style>