    <h3 class="creator" id="creator">
        Lavet af: Victor Schweitz
    </h3>

<style>
    h3
    {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
</style>