<h3 class="creator" id="creator">
    Lavet af: Victor Schweitz
</h3>

<style>
    .creator
    {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>