<h3 class="creator" id="creator">
    Lavet af: Victor Schweitz
</h3>

<style>
    h3
    {
        position: absolute;
        top: 20px;
        left: 120px;
        transform: translateX(-50%);
        color: #fff;
    }

    @media screen and (min-width: 768px)
    {
        h3
        {
            top: auto;
            bottom: 20px; 
            left: 50%; 
            transform: translateX(-50%);
        }
    }
</style>