---
const {class: className, headerText} = Astro.props
---

<header class:list={`header ${className}`}>
    <h2>
       {headerText}
    </h2>
</header>

<style>
    h2
    {
        display: inline-block;
        margin-bottom: 10px;
        border-bottom: 2px solid #fff;
    }
</style>