---
import Modal from './Modal.astro'
import ModalHeader from './ModalHeader.astro'
import DownloadButton from './ModalOpenButton.astro'
---

<Modal>
    <ModalHeader modalHeaderText="Vælg Semester"/>
    <div class="container download-modal-container">
        <div>
            <img src="../../public/images/test_image.jpg" alt="">
            <DownloadButton href="../../public/documents/test.docx" className="btn download-btn" id="download_btn" buttonText="1. semester" download="foerste_semester.docx">
        </div>
        <div>
            <img src="../../public/images/test_image.jpg" alt="">
            <DownloadButton href="../../public/documents/test.docx" className="btn download-btn" id="download_btn" buttonText="2. semester" download="andet_semester.docx">
        </div>
    </div>
</Modal>

<style>
    .container.download-modal-container
    {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 20px 0;
    }

    .container.download-modal-container div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container.download-modal-container div img
    {
        height: 140px;
    }

    @media screen and (min-width: 768px)
    {
        .container.download-modal-container
        {
            flex-direction: row;
            gap: 100px;
            margin: 20px 0;
        }

        .container.download-modal-container div img
        {
            height: 250px;
            border-radius: calc(var(--base-border-radius) / 1.5);
            margin-bottom: 15px;
        }
    }
</style>