---
const {className, id, href, download = true} = Astro.props
---

<a href={href} class={className} id={id} download={download}>
    <slot/>
</a>

<style is:global>
    a:has(.btn),
    #modal_download_btn
    {
        
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        color: var(--btn-text-color);
        background-color: var(--btn-background-color);
        border-radius: calc(var(--base-border-radius) * 5);
    }

    #modal_download_btn > span
    {
        display: none;
        color: #030320;
    }

    #zip_file_download_btn
    {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
</style>