---
import Modal from "./Modal.astro";
import DownloadButton from "./DownloadButton.astro";

---

<Modal className="modal download-modal">
     <div>
        <img src="public/thumbnails/first_semester_thumbnail.webp" />
        <DownloadButton
            href="public/pdfs/foerste_semester_pdf.pdf"
            class="modal-download-btn"
            id="modal_download_btn"
            download="foerste_semester_pdf"
        >
            1. semester <i class="fas fa-download"></i>
        </DownloadButton>
    </div>
    <div>
        <img src="../../public/images/test_images/modal_test_image.jpg" />
        <DownloadButton
            href="public/images/test_images/modal_test_image.jpg"
            class="btnmodal-download-btn"
            id="modal_download_btn"
            download="test_image"
        >
            2. semester <i class="fas fa-download"></i>
        </DownloadButton>
    </div>
</Modal>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    div img {
        height: 250px;
        width: 100%;
        border-radius: calc(var(--base-border-radius) / 2);
        object-fit: contain;
    }

</style>