<p class="hero-paragraph" id="hero_paragraph">
    A JavaScript overview
    <br />
    for 1<small>st</small> and 2<small>nd</small> semester MMD students
</p>

<style>
    p
    {
        font-style: italic;
        font-size: 18px;
        margin-top: 10px;
        white-space: nowrap;
    }

    
    @media screen and (min-width: 768px)
    {
        p
        {
            font-size: 20px;
        }
    }
</style>