<p class="paragraph hero-paragraph">
    En JavaScript-oversigt for 1. og 2. <br /> semester på MMD
</p>

<style>
    p
    {
        font-style: italic;
        text-align: center;
        white-space: nowrap;
        font-size: 17px;
        margin-top: 10px;
    }

    @media screen and (min-width: 768px)
    {
        p
        {
            font-size: 20px;
        }
    }
</style>
