---
import Header from './Header.astro'
---

<Header className="hero-heading" id="hero_heading">
   {
       <h1>
            <span class="secondary-heading">JS</span> Cheat Sheet
       </h1>
   }
    
</Header>

    <style>
    h1
    {
        font-size: 3rem;
    }

    h1 span.secondary-heading
    {
        color: var(--secondary-heading-color);
    }
</style>