---
import {data} from '../lib/fetch.js'

console.log(data)
---

<p class="hero-paragraph" id="hero_paragraph">
    {
        data.map((heroParagraphText) => (
            <pre><span>{heroParagraphText.hero_paragraph_text}</span></pre>
        ))
    }
</p>

<style>
    p
    {
        font-style: italic;
        margin-top: 10px;
    }

    pre
    {
        font-family: inherit;
        font-size: 20px;
        font-style: italic;
        color: #fff;
    }
</style>