---
import HeroHeading from './HeroHeading.astro'
import HeroParagraph from './HeroParagraph.astro'
import Button from './Button.astro'
---

<section class="hero" id="hero">
    <HeroHeading/>
    <HeroParagraph/>
    <Button className="download-btn" id="download_btn">
        Code Examples <i class="fas fa-download"></i>
    </Button>
</section>


<style>
    section.hero
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    i.fas.fa-download
    {
        margin-left: 10px;
    }
</style>