<p class="hero-paragraph" id="hero_paragraph">
    En JavaScript-oversigt
    <br />
    for 1. og 2. semester på MMD
</p>

<style>
    p
    {
        font-style: italic;
        margin-top: 10px;
    }

    pre
    {
        font-family: inherit;
        font-size: 20px;
        font-style: italic;
        color: #fff;
    }
</style>