<p class="hero-paragraph" id="hero_paragraph">
    En JavaScript-oversigt
    <br />
    for 1. og 2. semester på MMD
</p>

<style>
    p
    {
        font-style: italic;
        font-size: 18px;
        margin-top: 10px;
    }

    @media screen and (min-width: 768px)
    {
        p
        {
            font-size: 20px;
        }
    }
</style>