<h1 class="logo">
    <span>JS</span> Cheat Sheets
</h1>

<style>
    h1
    {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

   nav h1 span
   {
        color: #ff0;
   }
</style>