---
const {modalHeaderText} = Astro.props
---

<header class="modal-header" id="modal_header">
    <h1>{modalHeaderText}</h1>
</header>

<style>
    header
    {
        text-align: center;
        /* margin-bottom: 15px; */
    }
</style>