---
import Button from './Button.astro'
---

<Button className="modal-open-button">
    <span>Download PDF'er</span> <i class="fas fa-download"></i>
</Button>

<style>
    .modal-open-button
    {
        width: 100px;
    }
</style>