---
import Button from './Button.astro'
---

<Button className="modal-open-button">
    <span>Download PDF'er</span> <i class="fas fa-download"></i>
</Button>

<style>
    .modal-open-button
    {
        width: 100px;
        font-size: 16px;
    }

    @media screen and (min-width: 768px)
    {
        .modal-open-button
        {
            font-size: 23px;
        }
    }
</style>