---
import Button from './Button.astro'
---

<Button className="modal-open-button">
    <span>Download PDFs</span> <i class="fas fa-download"></i>
</Button>

<style>
    .modal-open-button
    {
        font-size: 16px;
        -webkit-tap-highlight-color: #000 !important;
    }

    .modal-open-button > span
    {
        color: #000 !important;
    }


    @media screen and (min-width: 768px)
    {
        .modal-open-button
        {
            font-size: 23px;
        }
    }
</style>

<script>
    const downloadModalOpenBtn = document.querySelector('.modal-open-button')
    const overlay = document.getElementById('overlay')
    const downloadModal = document.getElementById('download_modal')
    const downloadModalCloseBtn = document.querySelector('.download-modal .modal-close-btn')
    const mainNav = document.getElementById('main_nav')
    const socialsContainer = document.querySelector('.socials-container') as HTMLElement

    downloadModalOpenBtn.addEventListener('click', openOverlay)
    downloadModalCloseBtn.addEventListener('click', closeOverlay)
  
    function openOverlay()
    {
        overlay.classList.add('active')
        disable()
    }
    
    function closeOverlay()
    {
        overlay.classList.remove('active')
        enable()
    }

    function disable()
    {
        mainNav.style.pointerEvents = 'none'
        socialsContainer.style.pointerEvents = 'none'
    }

    function enable()
    {
        mainNav.style.pointerEvents = 'all'
        socialsContainer.style.pointerEvents = 'all'
    }
</script>