---
const currentPage = new URL(Astro.request.url).pathname
---

<i class="fas fa-bars btn mobile-menu-toggle-btn" id="mobile_menu_toggle_btn"></i>

<nav class="main-nav" id="main_nav">
    <a href="index.html" class="logo-link">
        <h1 class="logo">
            <span>JS</span> Cheat Sheets
        </h1>
    </a>
    <ul>
        <li>
            <a href="first_semester" class={currentPage === '/first_semester' ? 'active' : ''}>1. semester</a>
        </li>
        <li>
            <a href="second_semester" class={currentPage === '/second_semester' ? 'active' : ''}>2. semester</a>
        </li>
      
    </ul>
</nav>

<style>
   .mobile-menu-toggle-btn
   {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        transition: color .15s ease-in, right .4s ease-in;
   }

   .mobile-menu-toggle-btn.active
   {
        right: 220px;
        transition: right .4s ease-in;
   }

   .mobile-menu-toggle-btn:hover
   {
        color: #ff0;
        transition: color .15s ease-in;
   }

   nav
   {
        display: grid;
        place-content: center;
        position: absolute;
        right: -250px;
        height: 100vh;
        width: 200px;
        background-color: var(--mobile-header-background-color);
        z-index: 100;
        transition: right .4s ease-in;
   }

   nav.active
   {
        right: 0;
   }

   nav h1
   {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
   }

   nav h1 span
   {
        color: #ff0;
   }

   nav ul li
   {
        font-size: 20px;
   }
   nav ul li:not(:last-child)
   {
        margin-bottom: 20px;
   }

   nav ul li a
   {
        position: relative;
        font-family: 'Noto Sans', sans-serif;
        position: relative;
        color: #fff;
   }

   nav ul li a.active
   {
        border-bottom: 2px solid #ff0;
   }

   nav ul li a::before
   {
        content: '';
        position: absolute;
        bottom: -2px;
        border-bottom: 2px solid #ff0;
        width: 0;
        transition: width .2s ease-in;
   }


   nav ul li a:hover:not(.active)::before
   {
        width: 100%;
        transition: width .2s ease-in;
   }

   @media screen and (min-width: 768px)
   {
        i
        {
            display: none;
        }

        nav        
        {
            position: relative;
            display: flex;
            justify-content: space-between;
            height: 70px;
            width: 100%;
            left: 0;
            background-color: transparent;
        }

        nav h1
        {
            position: relative;
            left: 120px;
            margin-top: 37px;
        }

        nav ul
        {
            display: flex; 
            gap: 40px;
            align-items: center;
            margin-right: 50px;
        }

        nav ul li:first-child
        {
            margin-bottom: 0;
        }
   }
</style>

<script>
    const mobileMenuToggleBtn = document.querySelector('#mobile_menu_toggle_btn')
    const mainNav = document.querySelector('#main_nav')

    mobileMenuToggleBtn.addEventListener('click', toggleMobileMenu)

    function toggleMobileMenu()
    {
        mobileMenuToggleBtn.classList.toggle('active')
        mainNav.classList.toggle('active')

        updateMobileMenuToggleIcon()
    }

    function updateMobileMenuToggleIcon()
    {
        if(mobileMenuToggleBtn.classList.contains('fa-bars'))
        {
            mobileMenuToggleBtn.classList.remove('fa-bars')
            mobileMenuToggleBtn.classList.add('fa-times')
        }
        else
        {
            mobileMenuToggleBtn.classList.add('fa-bars')
            mobileMenuToggleBtn.classList.remove('fa-times')
        }
    }
</script>