---
 const socials = ['fa-brands fa-facebook-f']
 const href = ['https://www.facebook.com/vschweitz']

 const icons = socials.map((socialsIcon, index) => ({
    socialMediaIcon: socialsIcon,
    href: href[index]
}))
---

<div class="socials-container">
    {
        icons.map((icon) => (
            <a href={icon.href} target="_blank">
                <i class={icon.socialMediaIcon}></i>
            </a>      
        ))
    }
</div>

<style>
    .socials-container
    {
        position: absolute;

        top: 21px;
        left: 40px;
        transform: translateX(-50%);
        font-size: 20px;
    }

    i
    {
        color: #fff;
        transition: color .15s ease-in;
    }

    i:hover
    {
        color: #ff0;
        transition: color .15s ease-in;
    }

    @media screen and (min-width: 768px)
    {
        .socials-container
        {
            bottom: 20px;
            top: auto; 
            left: 50px; 
            transform: translateX(-50%);
        }
    }
    
</style>