---
import BackButton from './BackButton.astro'
---

<nav class="topic-page-nav" id="topic_page_nav">
    <BackButton className="back-button" id="back_button" href="/first_semester/" buttonText="Back to overview"/>
</nav>


<style>
    .topic-page-nav
   {
        display: flex;
   }

   .topic-page-nav h1
   {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
   }

   .topic-page-nav h1 span
   {
        color: #ff0;
   }
</style>