---
import TopicCard from './TopicCard.astro'
---

<div class="container topic-cards-container">
   <TopicCard>
</div>

<style>
    .container
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        justify-content: center;
        gap: 25px;
        padding: 16px;
        height: 600px;
        overflow-y: scroll;
    }

    @media (min-width: 768px)
    {
        .container
        {
            grid-template-columns: repeat(3, 1fr);
            height: 600px;
            overflow: scroll;
        }
    }
</style>