---
import ModalCloseButton from '../components/ModalCloseButton.astro'
---

<div class="modal welcome-modal active">
    <ModalCloseButton/>

    <img src="/welcome_modal_image/welcome_modal_image.webp" alt="welcome modal image">
    <div class="container welcome-modal-content-container">
        <div class="container welcome-modal-text-container">
            <p>
                Jeg hedder Victor Schweitz, og det er mig, der står bag denne side, <br /> der fungerer som et uddybende cheat sheet/en læringsside.
                <br />
                <br />
                Emnerne følger undervisningens rækkefølge, så det anbefales at tage emnerne i den rækkefølge, de kommer i her på siden. Der er PDF'er til download med opsummeringer af alle emner og links til alle eksempler.
                <br />
                <br />
                Har du spørgsmål til nogle af emnerne eller til kodning generelt, så skriv endelig til mig på <a href="https://www.facebook.com/vschweitz">Facebook</a>.
            </p>
        </div>
    </div>
</div>

<style>
    .welcome-modal
    {
        position: absolute;
        top: -75%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 340px;
        height: 80dvh;
        border-radius: var(--base-border-radius);
        background-color: var(--modal-background-color);
        z-index: 500;
        transition: top .4s ease-in;
    }

    .welcome-modal.active
    {
        top: 50%;
        transition: top .4s ease-in;
    }
    
    .welcome-modal img
    {
        height: 140px;
        width: 140px;
        aspect-ratio: 1;
        margin-top: 70px;
        border-radius: calc(var(--base-border-radius) * 50);
        object-fit: cover;
    }

    .container.welcome-modal-content-container
    {
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: left;
        height: auto;
        overflow-x: scroll;
        color: #fff;
    }

    .container.welcome-modal-content-container .container.welcome-modal-text-container
    {
        padding: 20px;
        overflow-x: scroll;
    }
    
    .container.welcome-modal-content-container header h2 span
    {
        color: #ff0;
    }
    
    .container.welcome-modal-text-container p
    {
        font-size: 16px;
        line-height: 1.6;
        overflow: hidden;
    }

    .container.welcome-modal-text-container a
    {
        color: #fff;
        text-decoration: underline;
    }

    


    @media screen and (min-width: 768px)
    {
        .welcome-modal
        {
            max-height: 600px;
            width: 700px;
        }

        .welcome-modal p
        {
            font-size: 20px;
        }

    }
</style>

<script>
    const overlay = document.getElementById('overlay')
    const welcomeModal = document.querySelector('.welcome-modal') as HTMLElement
    const modalCloseButton = document.querySelector('.welcome-modal .modal-close-btn')
    const mainNav = document.getElementById('main_nav')
    const mobileMenuToggleButton = document.getElementById('mobile_menu_toggle_btn')
    console.log(mobileMenuToggleButton)
    const socialsContainer = document.querySelector('.socials-container') as HTMLElement

    window.addEventListener('load', () =>
    {
        openWelcomeModalAndOverlay()
    })

    modalCloseButton.addEventListener('click', closeWelcomeModalAndOverlay)

    function openWelcomeModalAndOverlay()
    {
        setTimeout(() => {
           overlay.classList.add('active')   
           disable()
        }, 400)

        setTimeout(() => {
            openWelcomeModal()
        }, 700)
    }

    function closeWelcomeModalAndOverlay()
    {
        welcomeModal.classList.remove('active')
        overlay.classList.remove('active')
        enable()
    }

    function disable()
    {
        mainNav.style.pointerEvents = 'none'
        socialsContainer.style.pointerEvents = 'none'
        mobileMenuToggleButton.style.pointerEvents = 'none'
    }

    function enable()
    {
        mainNav.style.pointerEvents = 'all'
        socialsContainer.style.pointerEvents = 'all'
        mobileMenuToggleButton.style.pointerEvents = 'all'
    }

    function openWelcomeModal()
    {
        welcomeModal.classList.add('active')       
    }
</script>