---
import ModalCloseButton from '../components/ModalCloseButton.astro'
---

<div class="modal welcome-modal">
    <ModalCloseButton/>

    <img src="public/welcome_modal_image/welcome_modal_image.webp" alt="welcome modal image">
    <div class="container welcome-modal-content-container">
        <div class="container welcome-modal-text-container">
            <p>
                Hej
                <br />
                <br />
                Jeg hedder Victor Schweitz, og det er mig, der står bag denne side.
                Denne side er tiltænkt som et uddybende cheat sheet/læringsside.
                Emnerne kommer mere eller mindre i den rækkefølge, som de gør i undervisningen.
                Derfor anbefales det også at tage emnerne i den rækkefølge, som de kommer, da det antages,
                i de kommende emner, at man har forstået koncepterne fra de forrige.
                <br />
                Har du spørgsmål til emnerne eller andre problemer med kodning generelt, er du mere end velkommen til at skrive til mig på <a href="https://www.facebook.com/vschweitz">facebook</a>.
            </p>
        </div>
    </div>
</div>

<style>
    .welcome-modal
    {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 800px;
        border-radius: var(--base-border-radius);
        background-color: var(--modal-background-color);
        z-index: 500;
        transition: top .4s ease-in;
    }

    .welcome-modal.active
    {
        top: 50%;
        transition: top .4s ease-in;
    }
    
    .welcome-modal img
    {
        height: 140px;
        width: 140px;
        aspect-ratio: 1;
        margin-top: 70px;
        border-radius: calc(var(--base-border-radius) * 50);
        object-fit: cover;
    }

    .container.welcome-modal-content-container
    {
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        padding: 20px;
        text-align: left;
        color: #fff;
        font-size: 15px;
        overflow-x: scroll;
    }

    .container.welcome-modal-content-container header h2 span
    {
        color: #ff0;
    }

    .container.welcome-modal-text-container p
    {
        margin-top: 30px;
        font-size: 17px;
    }

    .container.welcome-modal-text-container a
    {
        color: inherit;
        border-bottom: 2px dashed #fff;
    }

    .container.welcome-modal-text-container a:hover
    {
        border-bottom: 2px solid #ff0;
    }

    


    @media screen and (min-width: 768px)
    {
        .welcome-modal
        {
            max-height: 600px;
            width: 700px;
        }

        .welcome-modal p
        {
            font-size: 20px;
        }

    }
</style>

<script>
    const welcomeModal = document.querySelector('.welcome-modal') as HTMLElement
    const modalCloseButton = document.querySelector('.welcome-modal .modal-close-btn')

    window.addEventListener('load', () => {
        setTimeout(() => {
            openWelcomeModal()
        }, 1100)
    })

    modalCloseButton.addEventListener('click', closeWelcomeModal)


    function closeWelcomeModal()
    {
        welcomeModal.classList.remove('active')
    }

    function openWelcomeModal()
    {
        welcomeModal.classList.add('active')       
    }
</script>