@import url('https://fonts.googleapis.com/css?family=Oswald: 100, 200, 300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans: 100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

:root
{
    /* Colors */
    --body-background-color: #030320;
    --primary-heading-color: #fff;
    --secondary-heading-color: #ff0;
    --paragraph-color: #fff;
    --nav-links-color: #fff;
    --links-hover-border-color: #ff0;
    --link-active-color: #ff0;
    --mobile-header-background-color: #191970;
    --modal-background-color: #191970;
    --btn-text-color: #191970;
    --btn-background-color: #ff0;
    --topic-card-background-color: #191970;
    --preview-card-background-color: #191970;
    
    /* Code Colors */
    --keyword-text-color: #ff0;
    --name-text-color: #aa85fa;
    --parentheses-text-color: #32cd32;
    --curly-brackets-text-color: #40e0d0;
    --code-text-color: #ff9;




    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

body
{
    background-color: var(--body-background-color);
    overflow: hidden;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Oswald', sans-serif;
    color: var(--primary-heading-color);
    white-space: nowrap;
}

p
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: var(--paragraph-color);
}

pre {
    white-space: pre-line;
}


/* Code Words */
.keyword
{
    color: var(--keyword-text-color);
}

.name
{
    color: var(--name-text-color);
}

.parentheses
{
    color: var(--parentheses-text-color);
}

.curly-brackets
{
    color: var(--curly-brackets-text-color);
}

.code
{
    color: var(--code-text-color);
}