@import url('https://fonts.googleapis.com/css?family=Oswald: 100, 200, 300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans: 100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}


:root
{
    /* Colors */
    --body-background-color: #030320;
    --primary-heading-color: #fff;
    --secondary-heading-color: #ff0;
    --paragraph-color: #fff;
    --nav-links-color: #fff;
    --links-hover-border-color: #ff0;
    --link-active-color: #ff0;
    --mobile-header-background-color: #191970;
    --modal-background-color: #191970;
    --btn-text-color: #191970;
    --btn-background-color: #ff0;
    --topic-card-background-color: #191970;
    --preview-card-background-color: #191970;
    
    /* Code Colors */
    --keyword-text-color: #ff0;
    --name-text-color: #aa85fa;
    --parentheses-text-color: #32cd32;
    --curly-brackets-text-color: #40e0d0;
    --code-text-color: #ff9;
    --equal-text-color: #cbcb2b;
    --value-text-color: #bbddda;
    --class-text-color: #ff6347;
    --id-text-color: #849ce5;
    --element-text-color: #b2b5c0;
    --method-text-color: #f3f3a9;
    --quotes-text-color: #d6d6d6;
    --event-type-text-color: #dadce4;
    --object-text-color: #f82fff;
    --condition-text-color: #74ebe1;
    --operand-text-color: #df0303;
    --property-text-color: #95ff31;
    
    /* Second Semester */
    --array-text-color: #f957a8;
    --square-brackets-text-color: #d03a85;
    --object-key-text-color: #90ee90;
    --colon-text-color: #7bdada;
    --attribute-text-color: #ffb964;
    --url-text-color: #cdcdcd;
    --parameter-text-color: #f00;


    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

body
{
    background-color: var(--body-background-color);
    overflow: hidden;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Oswald', sans-serif;
    color: var(--primary-heading-color);
    white-space: nowrap;
}

p
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: var(--paragraph-color);
}

pre
{
    white-space: pre-line;
    font-family: inherit;
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
}

li
{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.example
{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.example-link
{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    border-bottom: 2px solid #fff;
}


@media screen and (min-width: 1100px)
{
    .example
    {
        display: none;
    }

    /* Code Words */
    .keyword
    {
        color: var(--keyword-text-color);
    }

    .name
    {
        color: var(--name-text-color);
    }

    .parentheses
    {
        color: var(--parentheses-text-color);
    }

    .curly-brackets
    {
        color: var(--curly-brackets-text-color);
    }

    .code
    {
        color: var(--code-text-color);
    }

    .equal
    {
        color: var(--equal-text-color);
    }

    .value
    {
        color: var(--value-text-color);
    }

    .class
    {
        color: var(--class-text-color);
    }

    .id
    {
        color: var(--id-text-color);
    }

    .element
    {
        color: var(--element-text-color);
    }

    .method
    {
        color: var(--method-text-color);
    }

    .quote
    {
        color: var(--quotes-text-color);
    }

    .event-type
    {
        color: var(--event-type-text-color);
    }

    .object
    {
        color: var(--object-text-color);
    }

    .condition
    {
        color: var(--condition-text-color);
    }

    .operand
    {
        color: var(--operand-text-color);
    }

    .property
    {
        color: var(--property-text-color);
    }

    .square-brackets
    {
        color: var(--square-brackets-text-color);
    }

    .array
    {
        color: var(--array-text-color);
    }

    .object-key
    {
        color: var(--object-key-text-color);
    }

    .object-value
    {
        color: var(--object-value-text-color);
    }

    .colon
    {
        color: var(--colon-text-color);
    }

    .attribute
    {
        color: var(--attribute-text-color);
    }

    .url
    {
        color: var(--url-text-color);
    }
    
    .parameter
    {
        
        color: var(--parameter-text-color);
    }

}