---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Arrays">
    <BackButton className="back-button" id="back_button" href="../../second_semester" buttonText="Til oversigt"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Arrays"/>

                <DescriptionCardText>
                    <span class="array">Arrays</span> opbevarer flere værdier i én <span class="name">variabel</span> og gør koden mere overskuelig og nemmere at arbejde med. Et <span class="array">array</span> består af <span class="element">elementer</span>.

                    Hvis du vil liste alle dine familiemedlemmer, er det lettere at samle dem i et <span class="array">array</span> i stedet for at oprette en <span class="name">variabel</span> for hvert medlem.                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    <span class="array">Arrays</span> sættes altid lig med en <span class="keyword">const</span>-<span class="name">variabel</span>. Dernæst kommer <span class="name">variabelnavnet</span> og et <span class="equal">lighedstegn</span>. Derefter kommer et sæt <span class="square-brackets">firkantede parenteser</span>, hvori <span class="elements">elementerne</span> placeres.

                    Der er flere ting ved <span class="array">arrays</span>, såsom hvordan man tilgår <span class="element">elementerne</span>. Se eksempler<DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/NWZdwMJ" target="_blank" linkText="her." />
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">const</span> <span class="name">familyMembers</span> <span class="equal">=</span>
                        <span class="square-brackets">[</span><span class="quote">'</span><span class="element">Far</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Mor</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Lillesøster</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Storebror</span><span class="quote">'</span><span class="square-brackets">]</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>
