---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Arrays">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Arrays"/>

                <DescriptionCardText>

                    <span class="array">Arrays</span> contain multiple values in one <span class="name">variable</span> and, therefore, makes the <span class="code">code</span> manageable and easier to work with. An <span class="array">array</span> consists of <span class="element">elements</span>.
                    If you for example want to list all of your family members, it's easier to gather them all in an array, instead of having a seperate <span class="name">variable</span> for each of them. 
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    A <span class="keyword">const</span> is always used as variable type for an array. After that comes the <span class="name">variable name</span> and an <span class="equal">equals sign</span>. Thereafter comes a set of <span class="square-brackets">square brackets</span>, inside which the <span class="element">elements</span> are.

                    There's more to an array, such as how to access the <span class="element">elements</span>. See the example <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/NWZdwMJ" target="_blank" linkText="here." /> 
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">const</span> <span class="name">familyMembers</span> <span class="equal">=</span>
                        <span class="square-brackets">[</span><span class="quote">'</span><span class="element">Dad</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Mom</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Little sister</span><span class="quote">'</span>, <span class="quote">'</span><span class="element">Big brother</span><span class="quote">'</span><span class="square-brackets">]</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>
