---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Attributes">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Attributter"/>

                <DescriptionCardText>
                    <span class="attribute">Attributter</span>, such as <span class="attribute">class</span> and <span class="attribute">id</span>, helps make elements more specific and can either be added to the <span class="element">element</span> directly in HTML or with JavaScript using the <span class="method">method</span> <span class="method">.setAttribute<span class="parentheses">()</span></span> to set an attribute or <span class="method">.getAttribute<span class="parentheses">()</span></span> to get the <span class="attribute">attribute</span>.

                    See in-depth explanations and examples <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/bGPgPeK" linkText="here." target="_blank"/>
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    <span class="method">.setAttribute<span class="parentheses">()</span></span> is used on the <span class="variable">variable</span> referring to the wished <span class="element">element</span>. The <span class="method">method</span> takes to <span class="parameter">parameters</span> in <span class="quote">quotes</span>; first the <span class="name">name</span> of the <span class="attribute">attribute</span> and then its value.
                    
                    <span class="method">.getAttribute<span class="parentheses">()</span></span> takes only one <span class="parameter">parameter</span>, namely the <span class="name">name</span> of the <span class="attribute">attribute</span>, you wish to get from the <span class="element">element</span>.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
  <span class="keyword">const</span> <span class="name">div</span> <span class="equal">=</span> <span class="object">document</span><span class="method">.querySelector</span><span class="parentheses">(</span><span class="quote">'</span><span class="element">div</span><span class="quote">'</span><span class="parentheses">)</span>

  <span class="name">div</span><span class="method">.setAttribute</span><span class="parentheses">(</span><span class="quote">'</span><span class="attribute">class</span><span class="quote">'</span>, <span class="quote">'</span><span class="value">square</span><span class="quote">'</span><span class="parentheses">)</span>

  <span class="name">div</span><span class="method">.getAttribute</span><span class="parentheses">(</span><span class="quote">'</span><span class="attribute">class</span><span class="quote">'</span><span class="parentheses">)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    pre
    {
        font-size: 20px;
    }
</style>