---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
---

<Layout title="JS Cheat Sheet | Fetch">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Fetch"/>

                <DescriptionCardText>
                    Fetch is the function used to get data from elsewhere (e.g. a databse or another website) by its <span class="url">URL</span>. This makes it easier to create dynamic sites without having to reload the page every time to update the content.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    The syntax for the <span class="method">fetch</span> consists on 2<small>nd</small> semester of a bunch of steps a little too long to write here, so that's been described in-depth in the downloadable example
                    <DownloadButton
                        href="/zips/fetch-example.zip"
                        class="btn zip-file-download-btn"
                        id="zip_file_download_btn"
                        download="fetch-example"
                    >
                    here.
                    
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="method">fetch</span><span class="parentheses">(<span class="quote">'</span><span class="url">url</span><span class="quote">'</span>)</span><span class="method">
                            &nbsp;&nbsp;    .then</span><span class="parentheses">(<span class="name">functionName</span>)</span><span class="method">
                            &nbsp;&nbsp;    .then</span><span class="parentheses">(<span class="name">functionName</span>)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    pre
    {
        font-size: 23px;
    }
</style>