---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | forEach()">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="forEach()"/>

                <DescriptionCardText>
                    <span class="method">.forEach<span class="parentheses">()</span></span> is a loop running for every <span class="element">element</span> in an <span class="array">array</span>. Take a look at how to use <span class="method">.forEach<span class="parentheses">()</span></span> on both <span class="array">arrays</span> and <span class="array">NodeLists</span> <DescriptionCardExampleLink linkText="here." href="https://codepen.io/Schweitz/pen/ZEdrJZR" target="_blank" />               
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    The syntax is simple. You have a <span class="name">variable</span> containing either the an <span class="array">array</span> or the value of <span class="object">document</span><span class="method">.querySelectorAll</span><span class="parentheses">()</span>. After that, you write the <span class="name">variable name</span> followed by <span class="method">.forEach<span class="parentheses">()</span></span>. Inside the <span class="parentheses">parentheses</span>, you provide the <span class="name">name</span> of the <span class="keyword">function</span> to be called for each <span class="element">element</span> in the <span class="array">array</span>. Lastly, you declare the <span class="keyword">function</span>.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">const</span> <span class="name">elements</span> <span class="equal">=</span> <span class="object">document</span><span class="method">.querySelectorAll</span><span class="parentheses">(</span><span class="quote">'</span>.element<span class="quote">'</span><span class="parentheses">)</span>
                        <span class="keyword">elements</span><span class="method">.forEach</span><span class="parentheses">(</span><span class="name">sayHello</span><span class="parentheses">)</span>
                        <span class="keyword">function</span> <span class="name">sayHello</span><span class="parentheses">(<span class="name">parameter</span>)</span> <span class="curly-brackets">&#123;</span>
                        &nbsp;&nbsp;<span class="code">// Code here</span>
                        <span class="curly-brackets">&#125;</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 18px;
    }
</style>