---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Objects">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Objects"/>

                <DescriptionCardText>
                    <span class="object">Objects</span> are a way of grouping information that relates to the same thing. Imagine a person. This has for example a gender, an age, and a name. Instead of having to create a separate <span class="name">variable</span> for each information, it's better and more manageable to have everything stored in an <span class="object">object</span>. 
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    <span class="object">Objects</span> are always set equal to a <span class="keyword">const</span> variable. The syntax starts with <span class="keyword">const</span> followed by the <span class="name">variable name</span> and an <span class="equal">equals sign</span>. Thereafter comes a pair of <span class="curly-brackets">curly brackets</span>, inside which the <span class="object-key">key</span>/<span class="value">value</span> pairs are. The <span class="object-key">keys</span> come first followed by a <span class="colon">colon</span> and the <span class="value">value</span>, which gets ended by a comma.

                    There's more to <span class="object">objects</span>, which can be found <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/poXRZVM" target="_blank" linkText="here." />
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="keyword">const</span> <span class="name">person</span> <span class="equal">=</span> <span class="curly-brackets">&#123;</span>
                        &nbsp;&nbsp; <span class="object-key">firstName</span><span class="colon">:</span> <span class="value">"Victor"</span>,
                        &nbsp;&nbsp; <span class="object-key">age</span><span class="colon">:</span> <span class="value">24</span>,
                        &nbsp;&nbsp; <span class="object-key">gender</span><span class="colon">:</span> <span class="value">"male"</span>,
                        <span class="curly-brackets">&#125;</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>
