---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Selector">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Til oversigt"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Selector"/>

                <DescriptionCardText>
                    <span class="method">.querySelectorAll</span><span class="parentheses">()</span> bruges til at tage fat på alle elementer med den angivne selector (fx vil <span class="object">document</span><span class="method">.querySelectorAll</span><span class="parentheses">(</span><span class="quote">'</span>div<span class="quote">'</span><span class="parentheses">)</span> vælge alle <span class="element">div-elementer</span>).
                    
                    Se eksempel 
                    <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/bGPqLKW" linkText="her." target="_blank"/>
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    Først kommer <span class="name">variabelnavnet</span>. Herefter skriver man <span class="method">.querySelectorAll<span class="parentheses">()</span></span>.
                    Inde i <span class="parentheses">parenteserne</span> er et sæt <span class="quote">citationstegn</span>, som indeholder den selector, man ønsker at vælge.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        // Vælger alle div-elementer
                        <span class="keyword">const</span> <span class="name">divs</span> <span class="equal">=</span> <span class="object">document</span><span class="method">.querySelectorAll</span><span class="parentheses">(</span><span class="quotes">'</span>div<span class="quotes">'</span><span class="parentheses">)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 18px;
    }
</style>