---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DescriptionCardExampleLink from '../../../components/DescriptionCardExampleLink.astro'
---

<Layout title="JS Cheat Sheet | Selector">
    <BackButton className="back-button" id="back_button" href="../../second_semester" buttonText="Til oversigt"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="Selector"/>

                <DescriptionCardText>
                    <span class="method">.querySelectorAll</span><span class="parentheses">()</span> fungerer på samme måde som <span class="method">.querySelector<span class="parentheses">()</span></span>.
                    Dog er der nogle væsentlige forskelle. Den ene er, at hvor <span class="method">.querySelector</span><span class="parentheses">()</span> kun vælger det første element med den selector, man har givet den,
                    vælger <span class="method">.querySelectorAll</span><span class="parentheses">()</span> <em><b>alle</b></em> elementer med den selector, man har givet den.
                    Den anden forskel er, at <span class="method">.querySelectorAll</span><span class="parentheses">()</span> returnerer noget, der hedder en NodeList, som i sagens natur fungerer på samme måde som et array,
                    hvilket vil sige, at man kan tilgå sine HTML-elementer, som var de i et array, og man kan loope igennem dem med et <span class="method">forEach</span><span class="parentheses">()</span>-loop. Se eksempel <DescriptionCardExampleLink href="https://codepen.io/Schweitz/pen/bGPqLKW" linkText="her." target="_blank"/>
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    Syntaksen er nøjagtigt magen til <span class="method">.querySelector</span><span class="parentheses">()</span>s.
                    Det vil sige, at først kommer <span class="name">variabelnavnet</span>. Herefter skriver man <span class="method">.querySelectorAll<span class="parentheses">()</span></span>.
                    Inde i <span class="parentheses">parenteserne</span> er et sæt <span class="quote">citationstegn</span>, som indeholder den selector, man ønsker at vælge.
                    Man bør ikke give den et <span class="id">id</span>, da et <span class="id">id</span> er unikt for et element, og denne <span class="method">metode</span> vælger alle elementer med en given selector.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        // Vælger alle elementer med klassen "btn"
                        <span class="keyword">const</span> <span class="name">buttons</span> <span class="equal">=</span> <span class="object">document</span><span class="method">.querySelectorAll</span><span class="parentheses">(</span><span class="quotes">'</span>.btn<span class="quotes">'</span><span class="parentheses">)</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 18px;
    }
</style>