---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
---

<Layout title="JS Cheat Sheet | URL parameters">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="URL-parametre"/>

                <DescriptionCardText>
                    URL-parametre bruges til at sende data fra en side til en anden via URL'en, hvilket forbedrer brugeroplevelsen. For eksempel i en webshop kan URL-parametre overføre valgte varer fra produktvisning til kurv og videre til betalingssiden.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    Først har du <span class="url">basis-URL'en</span>, som slutter med ".html". Herefter tilføjes et spørgsmålstegn, der markerer starten på det første <span class="parameter">parameter</span>, efterfulgt af <span class="name">parameternavnet</span>, et <span class="equal">lighedstegn</span>, og <span class="parameter">parameterets</span> værdi. Syntaxen er striks, og eksemplet <DownloadButton
                        href="/zips/url_parametre-eksempel.zip"
                        class="btn zip-file-download-btn"
                        id="zip_file_download_btn"
                        download="url_parametre-eksempel">her</DownloadButton> forklarer de nødvendige metoder til at sende og modtage parametre i detaljer.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="url">base-url</span>.html?<span class="parameter">parameter</span><span class="equal">=</span><span class="value">value</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 22px;
    }

    pre
    {
        text-wrap: nowrap;
    }
</style>
