---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
---

<Layout title="JS Cheat Sheet | URL parameters">
    <BackButton className="back-button" id="back_button" href="/second_semester/" buttonText="Back to overview"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="URL Parameters"/>

                <DescriptionCardText>
                    URL parameters are being used to send data from one page to another via the <span class="url">URL</span>, which heightens the user experience. In example, a web shop uses this method to send selected products from the product view to the basket and again to the payment site.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntax" />

                <DescriptionCardText>
                    You first have the <span class="url">base URL</span> ending with ".html". Then comes a question mark, indicating that the first <span class="parameter">parameter</span> begins. This is followed by the <span class="name">parameter name</span>, and <span class="equal">equal sign</span> and the <span class="value">parameter value</span>. Since the syntax is strict, this example
                    <DownloadButton
                        href="/zips/url_parametre-eksempel.zip"
                        class="btn zip-file-download-btn"
                        id="zip_file_download_btn"
                        download="url_parametre-eksempel">
                        here
                    </DownloadButton>
                    explains in details the required <span class="method">methods</span> to send and receive parameters.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="url">base-url</span>.html?<span class="parameter">parameter</span><span class="equal">=</span><span class="value">value</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 22px;
    }

    pre
    {
        text-wrap: nowrap;
    }
</style>
