---
import Layout from '../../../layouts/Layout.astro'
import BackButton from '../../../components/BackButton.astro'
import DescriptionCard from '../../../components/DescriptionCard.astro'
import CodePreviewCard from '../../../components/CodePreviewCard.astro'
import DescriptionCardHeader from '../../../components/DescriptionCardHeader.astro'
import DescriptionCardText from '../../../components/DescriptionCardText.astro'
import DownloadButton from '../../../components/DownloadButton.astro'
---

<Layout title="JS Cheat Sheet | URL-parametre">
    <BackButton className="back-button" id="back_button" href="../../second_semester" buttonText="Til oversigt"/>

    <div class="container desc-container">
        <DescriptionCard class="card what-card">
            <div class="card what-card">
                <DescriptionCardHeader class="what-header" headerText="URL-parametre"/>

                <DescriptionCardText>
                    URL-parametre er en måde, hvorpå man kan sende data fra en side med videre til en anden side via URL'en.
                    Dette bruges til at skabe et bedre flow i ens hjemmeside. Forestil dig, at du har en webshop, hvor en kunde vælger en vare.
                    Dernæst skal den vare sendes med videre til kurven, og fra kurven skal den sendes med videre til betalingssiden. Dette sker ved at bruge URL-parametre.
                </DescriptionCardText>
            </div>
        </DescriptionCard>

        <DescriptionCard class="card syntax-card">
            <div class="card syntax-card">
                <DescriptionCardHeader class="syntax-header" headerText="Syntaks" />

                <DescriptionCardText>
                    Først kommer <span class="url">basis-URL’en</span>, som er den, der ender med “.html”. Dernæst kommer et spørgsmålstegn, som indikerer, at det første parameter kommer, hvorefter navnet på det første <span class="parameter">parameter</span> kommer efterfulgt af et <span class="equal">lighedstegn</span> og <span class="value">parameterets værdi</span>.
                    Syntaksen er meget striks, og da der skal bruges nogle forskellige metoder, er det hele beskrevet i dybden i eksemplet,
                    der kan downloades <DownloadButton
                    href="/public/zips/url_parametre-eksempel.zip"
                    class="btn zip-file-download-btn"
                    id="zip_file_download_btn"
                    download="url_parametre-eksempel"
                >
                her.
                </DescriptionCardText>
            </div>

            <CodePreviewCard>
                <h3>
                    <pre>
                        <span class="url">base-url</span>.html?<span class="parameter">parameter</span><span class="equal">=</span><span class="value">value</span>
                    </pre>
                </h3>
            </CodePreviewCard>
        </DescriptionCard>
    </div>
</Layout>

<style>
    h3
    {
        font-size: 22px;
    }

    pre
    {
        text-wrap: nowrap;
    }
</style>
